@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap');


.main {
   display: contents;

}

.bottom {
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    font-family: 'Poppins', sans-serif;
    margin: 0%;


}

.main-2 {
    background-color: lightgreen;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-2 {
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin: 0%;

}


body {
    background-image: url("../resources/peru.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

button{ 
    width: 250px;
    height: 45px;
    border: 4px black;
    background-color: lightgreen;
}

.button:hover {
   padding: 0%;
    background-color: darkgreen;
}

